
:root {
    --main_color: #3fbc97;
    --second_color: #2f3e50;
    --third_color: #404f67;
    --sidebar_width: 10rem;
    --navbar_height:4rem;
    --dark_blue: #165bba;
}

/* root class */

.bg_main {background-color: var(--main_color);}
.bg_darkblue {background-color: var(--dark_blue);}
.bg_third {background-color: var(--third_color);}
.text_main {color: var(--main_color);}
.text_second {color: var(--second_color);}
.text_third {color: var(--third_color);}
.nav_height {height: var(--navbar_height);}

/* general class */

/* HEADER */

.searchbar {
    background-color: #e5e5e5;
    border: 0px;

}


/* MAIN */

main { 
       height: calc(100vh - var(--navbar_height));
       margin-top: var(--navbar_height);
    }
/* sidebar */

#sidebar {
    width: var(--sidebar_width);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    padding: 1.5rem;
}

#sidebar .btn {
    text-align: left;
    color: white;
}

/* core */

#core {
    width: calc(100% - var(--sidebar_width));
    overflow-y: auto;

}
td img {
    width: 2rem;
    margin-right: 0.5rem;
}
td {vertical-align: middle;}
td:first-child {text-align: left;}
