
:root {
    --sidebar_width: 10rem;
    --sidebar_collapsed_width: 4rem;
    --navbar_height:4.5rem;
    --dark_blue: #1359b7;
}

/* root class */

.nav_height {height: var(--navbar_height);}
.bg_darkblue {background-color: var(--dark_blue);}

/* general class */

p {margin: 0;}
body {font-family: sans-serif;}

/* HEADER */

.searchbar {background-color: #e5e5e5;}

/* MAIN */

main { 
       height: calc(100vh - var(--navbar_height));
       margin-top: var(--navbar_height);
    }

/* sidebar */

#sidebar {
    width: var(--sidebar_width);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

/* core */

#plus_button {
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.hide+span {display: none;}
.offcanvas {width: 900px!important;}

#core {
    width: calc(100% - var(--sidebar_width));
    overflow-y: auto;
    background-color: #f8f9fa;
}
td img {
    width: 2rem;
    margin-right: 0.5rem;
}
td {vertical-align: middle;}
td:first-child {text-align: left;}

/* mediaquery */

@media all and (max-width:768px) {

    #sidebar {width: var(--sidebar_collapsed_width);}
    #core {width: calc(100% - var(--sidebar_collapsed_width));}
}